<div class="page-header">
  <h1>RecipeFinder</h1>
</div>

<p>To customize these results, set the query parameter 'search'.</p>

<div class="container">
  <table class="table table-striped">
    <thead>
      <th>Thumbnail</th>
      <th>Title</th>
      <th>Rank</th>
    </thead>
    <% @recipes.each do |recipe| %>
      <tr class=<%= cycle('even', 'odd') %>>
        <td><%= link_to image_tag(recipe["image_url"], height: '100', width: '100'), recipe["f2f_url"]%></td>
        <td><%= link_to sanitize(recipe["title"]), recipe["f2f_url"] %></td>
        <td><%= recipe["social_rank"] %></td>
      </tr>
    <% end %>
  </table>
</div>
